In [13]:
import pandas as pd
import numpy as np
import os
os.listdir()
from sklearn.preprocessing import OneHotEncoder
import typing

In [2]:
df = pd.read_csv("medical_students_dataset.csv")
##https://www.kaggle.com/datasets/slmsshk/medical-students-dataset

In [3]:
df = df.dropna()
df.index = [i for i in range(len(df.index))]
df = df.iloc[:, 1:]

In [4]:
df ##  some preprocessing here!!!!  to fit the things into

,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,32.0,Female,182.537664,55.741083,A,16.729017,98.260293,76.0,130.0,216.0,Yes,No
1,28.0,Male,186.489402,52.389752,AB,15.063921,98.227788,85.0,123.0,128.0,No,No
2,34.0,Female,182.416302,76.371050,AB,22.950992,98.118274,86.0,97.0,247.0,No,No
3,31.0,Male,166.489929,49.955569,B,18.022207,98.809750,82.0,96.0,223.0,No,No
4,29.0,Female,179.909041,90.679436,AB,28.015787,98.782269,81.0,108.0,227.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
50788,25.0,Female,156.297842,90.690186,B,37.123963,98.664591,70.0,132.0,164.0,Yes,No
50789,23.0,Female,162.884951,82.485778,B,31.089745,98.852347,65.0,94.0,188.0,No,Yes
50790,34.0,Male,165.651315,93.099756,A,33.928040,97.862209,62.0,100.0,205.0,No,No
50791,34.0,Male,161.590030,90.877589,B,34.803881,98.728836,70.0,96.0,208.0,No,No
50792,30.0,Female,156.446944,50.142824,A,20.486823,98.994212,61.0,106.0,225.0,No,No

In [5]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
non_numeric = ["Gender", "Blood Type", "Diabetes", "Smoking"]
numeric = {"Age":0, "Height":0, "Weight":0, "BMI":0, "Temperature":0, "Heart Rate":0, "Blood Pressure":0, "Cholesterol":0}
one_hotted = ["Blood Type"]

In [6]:
for feature in non_numeric:
    df[feature]= LabelEncoder().fit_transform(df[feature])

for feature in numeric.keys():
    mean = df[feature].mean()
    std = df[feature].std()
    numeric[feature] = mean, std
    df[feature] = (df[feature] - mean)/(std + 1e-5)

In [7]:
df_onehotted = OneHotEncoder(sparse_output=False).fit_transform(np.array(df["Blood Type"]).reshape(-1,1))

In [8]:
import torch
from torch.nn import functional as F
from torch.utils.data import DataLoader

In [21]:
def return_splitted(df:pd.DataFrame)->tuple[np.ndarray,]:
    df = df.sample(frac = 1)
    N = int(len(df)*0.8)
    train, test = map(np.array, [df.iloc[:N,:], df.iloc[N:, :]])
    return train, test
train, test = return_splitted(df)

In [27]:
import auto_encoder
from auto_encoder import auto_encoder_bb

In [28]:
auto_encoder_bb([20, 20, 4])

auto_encoder_bb(
  (weights): ParameterList(
      (0): Parameter containing: [torch.float32 of size 20x20]
      (1): Parameter containing: [torch.float32 of size 4x20]
  )
  (encoder_bias): ParameterList(
      (0): Parameter containing: [torch.float32 of size 20]
      (1): Parameter containing: [torch.float32 of size 4]
  )
  (decoder_bias): ParameterList(
      (0): Parameter containing: [torch.float32 of size 20]
      (1): Parameter containing: [torch.float32 of size 20]
  )
  (activation): GELU(approximate='tanh')
)